* {
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  color: #484848;
  min-height: 100% !important;
  background-color: #efefef;
}

.perguntaObrigatoria {
  color: #f5365c;
}

.btn-sucesso, .btn-sucesso:link, .btn-sucesso:visited, .btn-sucesso:focus {
  border: 1px solid #2dce89;
  color: white;
  background-color: #2dce89;
  border-radius: 3px;
}

.btn-sucesso:active, .btn-sucesso:hover {
  border: 1px solid #009C75;
  color: white;
  background-color: #009C75;
  border-radius: 3px;
}

.btn-editar, .btn-editar:active, .btn-editar:hover, .btn-editar:link, .btn-editar:visited, .btn-editar:focus {
  color: white;
  background-color: #fb6340 !important;
  border-radius: 3px;
  border: 1px solid #fb6340 !important;
}

.btn-danger {
  color: white;
  background-color: #f5365c !important;
  border-radius: 3px;
  border: 1px solid #f5365c !important;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:link, .btn-primary:visited, .btn-primary:focus {
  color: white;
  background-color: #008EFA !important;
  border-radius: 3px;
  border: 1px solid #008EFA !important;
}

.btn-success, .btn-success:active, .btn-success:hover, .btn-success:link, .btn-success:visited, .btn-success:focus {
  border: 1px solid #2ecc71 !important;
  color: white;
  background-color: #2ecc71 !important;
  border-radius: 3px;
}

.btn-info, .btn-info:active, .btn-info:hover, .btn-info:link, .btn-info:visited, .btn-info:focus {
  border: 1px solid #11cdef !important;
  color: white;
  background-color: #11cdef !important;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.btn-warning, .btn-warning:active, .btn-warning:hover, .btn-warning:link, .btn-warning:visited, .btn-warning:focus {
  color: white;
  background-color: #F75B36 !important;
  border-radius: 3px;
  border: 1px solid #F75B36 !important;
}

.help-block {
  font-size: 12px;
  color: #A94442;
}