<IfModule mod_rewrite.c>
    Options -MultiViews

	RewriteEngine On
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d


	Options All -Indexes



	SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

	#RewriteRule ^ index.php [QSA,L]
	RewriteRule ^(.*)$ index.php?url=$1
</IfModule>

# CONFIGURAR UTILIZAÇÃO DO HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://forms.mubble.com.br/$1 [R,L]

# Use PHP56 as default
AddHandler application/x-httpd-php56 .php
# BEGIN custom php.ini PHP56
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/mubbl280/public_html/forms
</IfModule>
# END custom php.ini
