* {
  box-sizing: border-box;
}

.container .gallery a img {
  float: left;
  width: 25%;
  height: auto;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}

.clear {
  clear: both;
}

.galleryA {
  color: #009688;
  text-decoration: none;
}

.galleryA:hover {
  color: #01695f;
  text-decoration: none;
}
