<section class="larguraMaxima">
  <div class="row">
    <div class="col-sm-12">
      <div class="aBox box-md">
        <div><h4>Planos cadastrados</h4><div class="divLineTitle"></div></div>
        <div id="progressContainerPlanos" class="alinhar-centro none" style="margin-bottom: 20px;"><img src="/content/site/shared/imagens/Rolling.gif" width="50" height="50"/></div>
        <div id="containerPlanos"></div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-cadastrarPlano" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cadastrar plano</h4>
        <div class="divLineTitle"></div>
      </div>
      <form id="form-cadastrarPlano" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="name"><span class="perguntaObrigatoria">*</span>Título</label>
            <input type="text" class="form-control" name="nome" id="name" minlength="3" maxlength="60" required />
          </div>
          <div class="form-group">
            <label for="numCotas"><span class="perguntaObrigatoria">*</span>Cota</label>
            <input type="number" class="form-control" min="1" name="numCotas" id="numCotas" required />
          </div>
          <div class="form-group">
            <label for="valor"><span class="perguntaObrigatoria">*</span>Valor</label>
            <input type="text" class="form-control" name="valor" id="valor" minlength="4" onkeyup="Plano.formatarCampoValor('valor')" required />
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" name="descricao" id="descricao" maxlength="255"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="Plano.cadastrar()" id="btn-cadastrarPlano" class="btn btn-sucesso" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Aguarde" type="button">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-editarPlano" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar plano</h4>
        <div class="divLineTitle"></div>
      </div>
      <form id="form-editarPlano" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="nome-editarPlano"><span class="perguntaObrigatoria">*</span>Título</label>
            <input type="hidden" id="id-editarPlano" name="id" />
            <input type="text" class="form-control" name="nome" id="nome-editarPlano" minlength="3" maxlength="60" required />
          </div>
          <div class="form-group">
            <label for="numCotas-editarPlano"><span class="perguntaObrigatoria">*</span>Cota</label>
            <input type="number" class="form-control" min="1" name="numCotas" id="numCotas-editarPlano" required />
          </div>
          <div class="form-group">
            <label for="valor-editarPlano"><span class="perguntaObrigatoria">*</span>Valor</label>
            <input type="text" class="form-control" name="valor" id="valor-editarPlano" minlength="4" onkeyup="Plano.formatarCampoValor('valor-editarPlano')" required />
          </div>
          <div class="form-group">
            <label for="descricao-editarPlano">Descrição</label>
            <textarea class="form-control" name="descricao" id="descricao-editarPlano" maxlength="255"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="Plano.editar()" id="btn-editarPlano" class="btn btn-sucesso" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Aguarde" type="button">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/content/admin/js/plano.js?v=20102020"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(e) {
    e.preventDefault();
    Plano.consultar();
  });
</script>
