<section class="larguraMaxima">
  <div class="row">
    <div class="aBox box-md">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUm" aria-expanded="false" aria-controls="collapseUm">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title" style="margin-bottom: 0px;">Para que serve uma campanha?</h4>
            </div>
          </a>
          <div id="collapseUm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>As campanhas tem um propósito claro: auxiliar na organização das suas publicações! Você pode separar as suas publicações em "pastas". Isso fará com que você encontre-as muito mais rápido. Fique tranquilo(a), criar uma categoria não vai fazer a sua cota diminuir.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
